::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: #555555;
  border-radius: 10px;
}

::-webkit-scrollbar-track {
  background: #202020;
}

body {
  background: #202020;
  border-radius: 20px;
  width: 400px;
}

.btn { background: #9fef00; }

.btn:hover {
  background: #9fef00;
  opacity: 0.6;
}